.navbar {
  background: #2F302C;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  background-color: transparent;
  border: none;
  justify-self: start;
  cursor: pointer;
  padding: 25px;
  text-decoration: none;
  font-size: 2rem;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}
.nav-item :hover{
  background-color: grey;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
}
